<div class="app-container">
    <h1>Drag section over another to merge text</h1>

    <section id="section1" style="top:100px; left: 150px;">
        <p>Bechtel Corporation, Information Systems & Technology, San Francisco, CA (2011 ≠ Current) Senior Software Developer Primarily responsible for developing iOS mobile applications and cloud-based solutions for global team members.</p>
    </section>

    <section id="section2" style="top: 250px; left: 150px;">
        <p>Worked with customers and UX designers to fine tune features for iOS applications from start to release.  Interfaced with server API developers to define protocols and improve performance speeds for applications.</p>
    </section>

    <section id="section3" style="top: 400px; left: 150px;">
        <p>Worked closely with project team members to ensure projects are completed in a timely manner by identifying obstacles/blockers and resolving issues or informing the appropriate party to resolve them as soon as possible.</p>
    </section>    

</div>