@import "bootstrap/bootstrap.less";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000;
}

a {
    color: blue;
    background-color: hotpink;
}

h1 { 
    font-weight: normal; 
    font-size: 35px;
    color: #fff;
}

#app_container {
    width: 100%;
    height: 100%;
}

.memoir_component {
    .photo_container {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .photo_title {
        -webkit-filter: blur(6px);        
    }

    .title_container {
        position: absolute;
        left: 50%;
        top: 40%;
    }

    .title {
        position: relative;
        width: 300px;
        left: -50%;
        text-align: center;
    }
}
